

body {
	display: block !important;
	flex: none !important;
	margin: 0;
	padding: 0;
	height: inherit;
}
.root-layout {
	display: block;
	margin: 0;

}

.global-navbar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #FFFFFF;
}

.section-content {
	display: block;
	position: relative;
	margin: auto;
	max-width: 980px;
}
.nav-content {
	height: 100%;
	padding: 0 1rem;
	border-bottom: 1px solid #eaecee;
}
.docs-content {
	width: 100%;
	/*
		Set min height of content to viewport height minus the footer.
		This prevents small pages from having footer above bottom of page.
	 */
	min-height: calc(100vh - 340px);
	position: relative;
}
.column {
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	min-height: 2px;
	display: inline-block;
	margin-right: -4px;
}
.large-12 {
	width: 100%
}
.large-11 {
	width: 91.66667%
}
.large-10 {
	width: 83.33334%
}
.large-10 {
	width: 83.33334%
}
.large-9 {
	width:75%
}
.large-8 {
	width: 66.66667%
}
.large-7 {
	width: 58.33334%
}
.large-6 {
	width: 50%
}
.large-5 {
	width: 41.66667%
}
.large-4 {
	width: 33.33334%
}
.large-3 {
	width: 25%
}

.large-2 {
	width: 16.66667%
}
.large-1 {
	width: 8.33333%
}
/* Large Viewport */
@media screen and (min-width: 1020px) {
	.large-push-2 {
		margin-left: 16.66667%;
	}
}
/* Medium Viewport */
@media screen and (min-width: 768px) and (max-width: 1020px) {
	.medium-12 {
		width: 100%
	}
	.medium-11 {
		width: 91.66667%
	}
	.medium-10 {
		width: 83.33334%
	}
	.medium-10 {
		width: 83.33334%
	}
	.medium-9 {
		width:75%
	}
	.medium-8 {
		width: 66.66667%
	}
	.medium-7 {
		width: 58.33334%
	}
	.medium-6 {
		width: 50%
	}
	.medium-5 {
		width: 41.66667%
	}
	.medium-4 {
		width: 33.33334%
	}
	.medium-push-3 {
		margin-left: 25%;
	}
	.medium-3 {
		width: 25%
	}
	.medium-push-2 {
		margin-left: 16.66667%;
	}
	.medium-2 {
		width: 16.66667%
	}
	.medium-1 {
		width: 8.33333%
	}
}
/* Small Viewport */
@media screen and (max-width: 768px) {
	.small-12 {
		width: 100%
	}
	.small-11 {
		width: 91.66667%
	}
	.small-10 {
		width: 83.33334%
	}
	.small-10 {
		width: 83.33334%
	}
	.small-9 {
		width:75%
	}
	.small-8 {
		width: 66.66667%
	}
	.small-7 {
		width: 58.33334%
	}
	.small-6 {
		width: 50%
	}
	.small-5 {
		width: 41.66667%
	}
	.small-4 {
		width: 33.33334%
	}
	.small-push-3 {
		margin-left: 25%;
	}
	.small-3 {
		width: 25%
	}
	.small-push-2 {
		margin-left: 16.66667%;
	}
	.small-2 {
		width: 16.66667%
	}
	.small-1 {
		width: 8.33333%
	}
}


.flex-container {
	display: flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: between;
	height: 100%;
}
.nav-sticky-wrapper {
	height: 100%;
	position: absolute;
}
.content-nav {
	position: sticky;
	position: -webkit-sticky;
	overflow: scroll;
	height: calc(100% - 73px);
	margin-top: 73px;
	padding-left: 14px;
	padding-right: 8px;
	padding-bottom: 2rem;
	padding-top: 14px;
}
.page-nav {
	position: sticky;
	position: -webkit-sticky;
	top: 49px;
	padding-left: 14px;
	padding-right: 8px;
	padding-bottom: 2rem;
}
.page-nav-title {
	width: 100%;
	display: block;
	border-bottom: 1px solid #eaeaea;
}

.nav-header {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	white-space: nowrap;
}
.nav {
	flex: 1 0;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 0.25rem;
	white-space: nowrap;
}
.nav-logo {
	flex: 0 0;
	display: flex;
	align-items: center;
	white-space: nowrap;
	color: inherit;
	text-decoration: none;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	margin-right: 0.5rem;
	text-align: left;
}
.nav-logo-image {
	width: 220px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
}
.nav-logo-image-small {
	width: 80px;
}
.form-inline {
	margin: 0;
	align-self: flex-end;
}
.nav-search-button {
	margin-left: .5rem;
	height: 34px;
}
.nav-link-container {
	list-style: none;
	margin: 0;
}
.nav-link {
	margin-left: 0;
	float: left;
	list-style: none;
}
.docs-content-section {
	padding: 0 1rem;
	padding-bottom: 2rem;
}
.breadcrumbs {
	margin-top: 84px
}
.page-nav-wrapper {
	border-right: 1px solid #eaecee;
}

.nav-state, .mobile-nav-button {
	display: none;
}
.version-dropdown {
	position: relative;
	top: 1px;
}
.dropdown-item {
	cursor: pointer;
}
.monospace-text {
	font-family: 'SF Mono', Menlo, monospace;
}
.current-branch {
	position: absolute;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 8px;
	letter-spacing: .04rem;
	font-weight: 700;
	text-transform: uppercase;
	border: 1.5px solid #566e9f;
	padding: 2px 4px;
	border-radius: 2px;
	margin-left: 12px;
	margin-top: 1px;
}
.active .current-branch, a:active .current-branch {
	border: 1.5px solid #ffffff;
}

/* Nav iOS */
@media screen and (max-width: 1020px)  {
	.nav-logo {
		display: inline-block;
		width: calc(100% - 60px);
	}
	input[type=checkbox].nav-state, .mobile-nav-button {
		position: absolute;
		display: block;
		top: 5px;
		right: 1rem;
		height: 50px;
		width: 50px;
		background-color: red !important;
	}
	.nav-state {
		display: none;
		z-index: 9999;
		opacity: 0;
	}
	.mobile-nav-button {
		z-index: 9998;
	}
	.nav-state:not(:checked) + .nav-content .nav-container  .nav {
		top: -100%;
		opacity: 0;
	}
	.nav-state:checked +  .nav-content .nav-container  .nav {
		display: flex;
		opacity: 1;
	}
	.nav-container {
		display: block;
		z-index: 9999;
	}
    .nav {
        transition: opacity .3s ease-in-out;
        position: relative;
        overflow: hidden;
		display: flex;
      	flex-flow: column;
		top: 74px;
		position: fixed;
		z-index: 9990;
		background: #ffffff;
		box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.20);
		right: .5rem;
		left: .5rem;
		padding: 2rem 1.5rem 1rem;
		border-radius: 6px;
    }
	.nav-link-container {

		display: block;
		order: 2;
		width: 100%;
		list-style: none;
		margin: 0;
		padding-left: 0;
		padding-top: .5rem;
		padding-bottom: 0;
	}
	.nav-link {
		margin: 1rem 0;
		padding: 0;
		display: block;
		float: none;
		width: 100%;
		height: 32px;
	}
	.nav-link a {
		display: block;
		text-align: center;
		padding: 7px 4px;
		width: 100%;
		background-color: #e1e6ef;
		border: 1px solid #e1e6ef;
		border-radius: 2px;
		color: #212529;
		transition: background-color 200ms ease;
	}
	.nav-link a:hover {
		text-decoration: none;
		background-color: #c9d1e2;
	}
	.form-inline {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		width: 100%;
		align-self: flex-start;
		flex-wrap: nowrap;
		flex-shrink: 1;
		order: 1;
	}
	.nav-search {
		display: flex;
		flex-grow: 1;
		width: auto;
		min-width: 0;
	}
	.nav-search-button {
		display: inline-block;
		margin-right: 0;
	}
}

/* PAGE */
@media (max-width: 900px) {
	.visible-sm { display: unset; }
	.visible-lg { display: none; }
}
@media (min-width: 900px) {
	.visible-sm { display: none; }
	.visible-lg { display: unset; }

}

/* INDEX */
:root {
	--index-border-color: #dadcdf;
}
#index {
	font-size: 90%;
	line-height: 24px;
}
#index > h3.version {
	font-weight: bold;
	font-size: 100%;
	opacity: 0.7;
	margin-bottom: 0;
}
#index > h4 {
	opacity: 0.8;
	font-weight: normal;
	margin-bottom: 0;
	padding-bottom: 0;
}
/* These ul styles are copied to https://github.com/sourcegraph/sourcegraph DocSitePage.scss. They should be kept in sync. */
#index > ul {

	padding-left: var(--spacing);
}
#index > ul ul {
	padding-left: 4px;
}
#index > ul li {
	list-style: none;
	line-height: normal;
	padding-left: 10px;
	text-indent: -13px;
	padding-top: 8px;
}
#index > ul li::before {
	content: "\203A\00a0";
}

/* CONTENT */
#content > #version, #content > .breadcrumbs {
	font-size: 90%;
}
#content > #version {
	margin-top: 0.25rem;
}
#content > .breadcrumbs {
	margin-bottom: 0.75rem;
}
#content > .breadcrumbs > .active {
	color: inherit;
	opacity: 0.8;
}

/* EDIT BUTTON */
.edit-btn {
	display: inline-block;
	font-size: 90%;
	color: inherit;
	border: solid 1px var(--index-border-color);
	border-radius: 0.25rem;
	margin-top: calc(var(--spacing));
	padding: 0.2rem 0.4rem 0.1rem;
}



/* Footer */

.footer-content-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	flex: 1 0 auto;
	max-width: 1140px;
}

.footer__block {
    background: #151c28;
    color: #7a8fb8;
    padding: 4rem 0 1rem 0;
    overflow: hidden;
}

.footer__block .small__contact {
    padding-top: 1.5rem;
    margin-bottom: -2rem;
}

@media screen and (min-width: 768px) {
    .footer__block .small__contact {
        display: none;
    }
}

.footer__block .logo__section a {
    color: #afbcd4;
}

.footer__block .logo__section .footer__logo {
    padding: 0 0 1.25rem 0;
    margin: 0 0 0 -8px;
}

@media screen and (max-width: 768px) {
    .footer__block .logo__section {
        padding-bottom: .2rem;
        margin-top: -2.5rem;
    }

    .footer__block .logo__section .footer__contact {
        display: none;
    }
}

.footer__block .footer__extend {
    transition: all .3s ease-in-out;
}

.footer__block .footer__extend * {
    transition: all .3s ease-in-out;
}

.footer__block .footer__extend h3 {
    cursor: pointer;
}

.footer__block .footer__extend ul {
    overflow: hidden;
    padding-left: 0;
}

@media screen and (max-width: 768px) {
    .footer__block .footer__extend ul li {
        transition: all .3s ease-in-out;
        position: relative;
        top: -60px;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    .footer__block .footer__extend input, .footer__block .footer__extend .close--icon {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .footer__block .footer__extend {
        padding-top: 6px;
        border-top: solid 1px #7a8fb8;
    }

    .footer__block .footer__extend:last-of-type {
        border-bottom: solid 1px #7a8fb8;
    }

    .footer__block .footer__extend.community .close--icon, .footer__block .footer__extend.company .close--icon,
    .footer__block .footer__extend.features .close--icon, .footer__block .footer__extend.resources .close--icon {
        height: 18px;
        width: 18px;
        position: absolute;
        top: calc(1rem - 8px);
        right: 1rem;
        transition: all .3s ease-in-out;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .footer__block .footer__extend.community .close--icon svg, .footer__block .footer__extend.company .close--icon svg,
    .footer__block .footer__extend.features .close--icon svg, .footer__block .footer__extend.resources .close--icon svg {
        height: 18px;
        width: 18px;
    }

    .footer__block .footer__extend.community .close--icon svg path, .footer__block .footer__extend.company .close--icon svg path,
    .footer__block .footer__extend.features .close--icon svg path, .footer__block .footer__extend.resources .close--icon svg path {
        fill: #7a8fb8;
    }

    .footer__block .footer__extend.community li:last-child, .footer__block .footer__extend.company li:last-child,
    .footer__block .footer__extend.features li:last-child, .footer__block .footer__extend.resources li:last-child {
        padding-bottom: .5rem;
    }

    .footer__block .footer__extend.community input, .footer__block .footer__extend.company input,
    .footer__block .footer__extend.features input, .footer__block .footer__extend.resources input {
        width: 100%;
        height: 2rem;
        position: absolute;
        top: 0px;
        opacity: 0;
        cursor: pointer;
        z-index: 9999;
    }

    .footer__block .footer__extend.community input + ul, .footer__block .footer__extend.company input + ul,
    .footer__block .footer__extend.features input + ul, .footer__block .footer__extend.resources input + ul {
        display: hidden;
        height: 0px;
        padding: 0;
    }

    .footer__block .footer__extend.community input:checked + ul, .footer__block .footer__extend.company input:checked + ul,
    .footer__block .footer__extend.features input:checked + ul, .footer__block .footer__extend.resources input:checked + ul {
        display: block;
        height: auto;
    }

    .footer__block .footer__extend.community input:checked + ul li, .footer__block .footer__extend.company input:checked + ul li,
    .footer__block .footer__extend.features input:checked + ul li, .footer__block .footer__extend.resources input:checked + ul li {
        transition: all .3s ease-in-out;
        display: block;
        top: 0px;
    }

    .footer__block .footer__extend.community input:checked ~ .close--icon,
    .footer__block .footer__extend.company input:checked ~ .close--icon,
    .footer__block .footer__extend.features input:checked ~ .close--icon,
    .footer__block .footer__extend.resources input:checked ~ .close--icon {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.footer__block .social__column .icon {
    margin-left: 1rem;
}

.footer__block .social__column .icon svg path {
    fill: #566e9f;
}

.footer__block .social__column .icon:hover svg path {
    fill: #0e121b;
}

.footer__block .social__column img,
.footer__block .social__column .btn {
    margin-bottom: 1rem;
}

.footer__block .social__column .copyright {
    color: #566e9f;
}

.footer__block h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .1rem;
}

.footer__block ul {
    color: #afbcd4;
    margin: 0;
    list-style: none;
}

.footer__block ul li {
    margin-bottom: 0.5rem;
}

.footer__block ul li a {
    color: #afbcd4;
}

.footer__block ul li a:hover {
    color: #f2f4f8;
    text-decoration: underline;
}

.footer__block .copyright__container {
    margin: 3rem 0 0 0;
    padding-top: 1rem;
    border-top: 2px solid #405377;
}

.footer__block .copyright__container .copyright {
    float: left;
}

@media screen and (max-width: 768px) {
    .footer__block .copyright__container .copyright {
        float: none;
    }
}

.footer__block .copyright__container .terms {
    float: right;
}

.footer__block .copyright__container .terms a {
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
    .footer__block .copyright__container .terms {
        float: none;
    }

    .footer__block .copyright__container .terms a:first-of-type {
        margin-left: 0rem;
    }
}

.align-footer {
    align-content: flex-end !important;
}

@media screen and (max-width: 992px) {
    .align-footer {
        padding-top: 2rem;
    }
}

.align-footer * {
    align-self: center;
}

/* Helpers */
@media screen and (max-width: 768px) {
	.small-hidden {
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
	.medium-hidden {
		display: none;
	}
}
@media screen and (min-width: 1020px) {
	.large-hidden {
		display: none;
	}
}
