{{define "root"}}
	<html>
		<head>
			<title>{{with .Content}}{{.Doc.Title}}{{else}}Error{{end}} - Sourcegraph</title>
			<link rel="stylesheet" type="text/css" href="{{asset "layout.css"}}?2" />
			<link rel="stylesheet" type="text/css" href="{{asset "content.css"}}?2" />
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			{{if (or (not .Content) .ContentVersion)}}<meta name="robots" content="noindex">{{end}}
		</head>
		<body data-path="{{.Content.Path}}" class="is-docsite">
			<header id="header">
				<div class="container">
					<a href="/" id="logo"><img src="{{asset "sourcegraph-logo.svg"}}" /> <span aria-hidden="true" class="visible-sm">Docs</span> <span class="visible-lg">Documentation</span></a>
					<nav>
						<input type="search" id="search" placeholder="Search..." />
						<a href="https://github.com/sourcegraph/sourcegraph">Code</a>
						<a href="https://about.sourcegraph.com">About</a>
						<a href="https://sourcegraph.com">Sourcegraph.com</a>
					</nav>
				</div>
			</header>
			<div id="page">
				<div class="container">
					{{if .Content}}
						<nav id="index">
							{{with .ContentVersion}}<h3 class="version">Version: <code>{{.}}</code></h5>{{end}}
							{{with .Content}}{{template "index" .}}{{end}}
						</nav>
					{{end}}
					<section id="content" class="markdown-body">
						{{with .Content}}
							<nav class="breadcrumbs">
								{{range .Breadcrumbs}}
									<a href="{{.URL}}" class="{{if .IsActive}}active{{end}}">{{.Label}}</a> {{if not .IsActive}}/{{end}}
								{{end}}
							</nav>
							{{markdown .}}
						{{else}}
							{{if .ContentVersionNotFoundError}}
								<h1>Version not found</h1>
								<p>The version <code>{{.ContentVersion}}</code> was not found.</p>
							{{else if .ContentPageNotFoundError}}
								<h1>Page not found</h1>
								<p>The page <code>{{.ContentPagePath}}</code> was not found.</p>
							{{else}}error
							{{end}}
						{{end}}
					</section>
				</div>
			</div>

			<!-- Algolia doc search -->
			<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
			<script type="text/javascript">
			docsearch({
				apiKey: 'f1b3c4d15528dfd4b90b8ec2812f39ab',
				indexName: 'sourcegraph',
				inputSelector: '#search',
				debug: false,
			});
			</script>
		</body>
	</html>
{{end}}

{{/*
The index and doc_nav templates are copied to the https://github.com/sourcegraph/sourcegraph
repository's docsite package. They should be kept in sync.
*/}}
{{define "index"}}
	{{with (or (and (eq (len .Doc.Tree) 1) (index .Doc.Tree 0).Children) .Doc.Tree)}}
		<h4 class="visible-sm">{{$.Doc.Title}}</h4>
		<h4 class="visible-lg">On this page:</h4>
		<ul>{{template "doc_nav" .}}</ul>
	{{end}}
	<a class="edit-btn" href="https://github.com/sourcegraph/sourcegraph/edit/master/doc/{{.FilePath}}">Edit this page</a>
{{end}}
{{define "doc_nav"}}
	{{range .}}
		<li>
			<a href="{{.URL}}">{{.Title}}</a>
			{{with .Children}}
				<ul>
					{{template "doc_nav" .}}
				</ul>
			{{end}}
	{{end}}
{{end}}
